#work {
    /* width: clamp(280px, 90%, 800px); */
    width: 90%;
    padding: 0 1rem;
}

#work > div {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-auto-rows: max-content;
}

/* small */
@media only screen and (min-width: 600px) {
    #work > div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-auto-rows: auto;
        margin: 0;
    }
}

/* large */
@media only screen and (min-width: 992px) {
    #work > div {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-auto-rows: auto;
        margin: 0;
    }
}
